:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-container {
    width: 100%;
    height: 100vh; 
    background-image: url('../assets/banner.jpg');
    background-size: cover; 
    background-position: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.banner-heading {
    color: rgb(255, 255, 255);
    font-size: 3rem; 
    font-weight: lighter;
}

.banner-mid-text {
    color: #ff8a00;
    font-weight: 500;
    font-size: 5rem; 
}

.banner-text {
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    padding: 0 10%; 
}

.large-button-solid, .large-button-light {
    margin-top: 20px;
    margin-left: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff8a00;
    border-color: #ff8a00;
    border-radius: 5px;
    font-size: 1rem; 
    font-weight: 500;
    color: rgb(0, 0, 0);
    width: 14.375rem; 
    height: 3.125rem; 
}

.large-button-light {
    margin-left: 20px;
    background-color: transparent;
    color: white;
}

@media (max-width: 768px) {
    .banner-heading {
        font-size: 2rem;
    }

    .banner-mid-text {
        font-size: 3rem;
    }

    .banner-text {
        padding: 0 5%;
    }

    .large-button-solid, .large-button-light {
        width: 11.25rem; 
        height: 2.5rem;
        font-size: 0.875rem; 
    }
}
