:root {
    font-size: 16px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-component {
    display: flex;
    background-image: url('../assets/black.png');
    background-size: cover;
    height: 40rem; 
    width: auto;
    align-items: flex-start;
}

.contact-cover-img {
    width: auto; 
    height: auto; 
    bottom: 0;
}

.contact-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-right: 4%;
    padding-left: 4%;
}

.contact-heading {
    color: rgb(0, 0, 0);
    font-size: 3rem; 
    font-weight: bold;
}

.mid {
    color: #FF8A00;
}

.form {
    margin-top: 10%;
}

.form input,
.form textarea {
    font-size: 1rem; 
    border-radius: 0.3125rem; 
    height: 2.75rem; 
    border: 0.0625rem solid #ccc; 
    width: 90%;
    padding: 0.625rem; 
    margin-bottom: 0.9375rem; 
}

.form textarea {
    height: 7.625rem; 
}

.form button {
    font-size: 1rem; 
    width: 8.2rem; 
    border-radius: 0.35rem; 
    height: 2.1875rem; 
    border: none;
    background-color: #FF8A00;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #FF6F00;
}

@media screen and (max-width: 48rem) {
    .contact-grid {
        grid-template-columns: 1fr;
        gap: 1.25rem; 
    }

    .contact-cover-img {
        width: 100%;
        height: auto;
    }

    .form {
        margin-top: 5%;
    }

    .form input,
    .form textarea {
        width: 100%;
    }

    .contact-cover-img {
        display: none;
    }
}
