* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #F9F9F9;
    height: 38.25rem;
    width: auto;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.heading {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.mid {
    color: #ff8a00;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 22.625rem;
    height: 21.3125rem;
    background-color: black;
    margin: 2.5rem;
}

.cover-img {
    width: 22.625rem;
    height: 14.6875rem;
}

.topic {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.topic-container {
    margin-left: 1.25rem;
    margin-top: 2.5rem;
}

@media (max-width: 1280px) {
    .container {
        background-color: #F9F9F9;
        height: auto;
    }

    .heading {
        font-size: 1.5rem;
    }

    .card {
        width: calc(100% - 2.5rem);
        height: auto;
        margin: 1.25rem 0;
    }

    .cover-img {
        width: 100%;
        height: auto;
    }

    .topic {
        font-size: 1.125rem;
    }

    .topic-container {
        margin-left: 0.625rem;
        margin-top: 0;
    }
}
